@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-img {
  background-image: url("../assets/images/img1.jpg");
}

.chatMessage-left,
.chatMessage-right {
  background: #c2bfbf;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  padding: 4px;
  position: relative;
}

.chatMessage-right {
  border-radius: 8px 0px 8px 8px;
}

.chatMessage-left {
  border-radius: 0px 8px 8px;

}

.chatMessage-left::before {
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #c2bfbf;
  border-top: 0px solid transparent;
  border-bottom: 15px solid transparent;
  top: 0;
  left: -26px;
}

.chatMessage-right::after {
  content: "";
  position: absolute;
  border-left: 15px solid #c2bfbf;
  border-right: 15px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 15px solid transparent;
  top: 0;
  right: -26px;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

.messages_scrollbar {
  margin-right: 2px;
}

.messages_scrollbar::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

.messages_scrollbar::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}